// custom SCSS variables
// fonts
$body-font: 'Rubik',Arial, Helvetica, sans-serif;
$font-size:16px;
// colors
$white:hsl(0, 0%, 100%);
$light-grayish-violet:hsl(270, 20%, 96%);
$light-magenta: hsl(293, 100%, 63%);
$light-violet:hsl(264, 100%, 61%);
$pale-violet:hsl(276, 100%, 81%);
$dark-grayish-violet:hsl(270, 7%, 64%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet:hsl(271, 15%, 43%);

